server {
    listen {{ LISTENING_PORT }};
    server_name {{ SERVER_NAME }};

    location / {
        proxy_pass       {{ PROXY_PASS_URL }};
        proxy_set_header Host $host;
        proxy_set_header Referer $http_referer;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
